<!doctype html>
<html>
<header>
    <title>contact_Us</title>
    <h1>צור קשר</h1>     <!-- insert img here -->
</header>
<body>
    
<form action="URL">
    <lable for="CustomerName">שם מלא </lable>
    <input type="text" id="CustomerName">
    <br><br>
    <lable for ="orderDate">תאריך הזמנה</lable>
    <input type="date" id="orderDate">
    <br><br>
    <lable for ="emailUser">E-MAIL</lable>
    <input type="email" id="emailUser">
    <br><br>
    <lable for ="BlinchessCheese">בלינצ'ס במילוי גבינה</lable>
    <input type="checkbox" id=BlinchessCheese>
    <lable for ="BlinchessNugat">בלינצ'ס במילוי נוגט וקפה</lable>
    <input type="checkbox" id1=BlinchessNugat>
    <br><br>
    <input type="reset">
    <input type="submit" value="הזמן">
    <div style="background-color:rgb(169, 199, 199); padding: 25px;margin: 35px"> כתובת לאיסוף: באר שבע, הדעת 6</div> 
    <br><br>
    <span style="background-color:rgb(186, 244, 238); padding: 30px;margin: 24px;border: 2px solid gray">באר שבע</span> 
    <span style="background-color:rgb(186, 244, 238); padding: 30px;margin: 24px;border: 2px solid gray">קרית גת</span> 
    <span style="background-color:rgb(186, 244, 238); padding: 30px;margin: 24px;border: 2px solid gray">עומר</span> 
    <br><br> <br><br>
    <footer>
        <p>מייל ליצירת קשר</p>
        <p><a href="BlinchessCheese@example.com">hege@example.com</a></p>
      </footer>
</form>
<audio controls>
    <source src="D:\OneDrive\מסמכים\WEBProjects\Excercise1\Roei_Sendel\static\jazz_Song.mp3" type="audio/mp3">
    audio.volume = 0.2;
  </audio>
</head>
</body>