<!doctype html>
<html>
<header>
    <h1>צור קשר</h1>
</header>
<body>

<div>
  <p>
        <form action="" style=" background-color: lightgrey;
                                width: 320px;
                                border: 15px solid rgb(235, 233, 124);
                                padding: 55px;
                                margin: 52px;">
<form action="URL">
    <lable for="CustomerName">שם מלא </lable>
    <input type="text" id="CustomerName">
    <br><br>
    <lable for ="orderDate">תאריך הזמנה</lable>
    <input type="date" id="orderDate">
    <br><br>
    <lable for ="emailUser">E-MAIL</lable>
    <input type="email" id="emailUser" maxlength="10">
    <br><br>
    <lable for ="BlinchessCheese">בלינצ'ס במילוי גבינה</lable>
    <input type="checkbox" id=BlinchessCheese>
    <lable for ="BlinchessNugat">בלינצ'ס במילוי נוגט וקפה</lable>
    <input type="checkbox" id1=BlinchessNugat>
    <br><br>
    <label for="file">העלאת קופון</label>
    <input type="file" id="file" name="file">
    <br><br>
    <br><br>
    <input type="reset">
    <input type="submit" value="הזמן">

    <br><br>

</form>
</div>
<div style="background-color:rgb(199, 208, 156); padding: 25px;margin: 35px"> כתובת לאיסוף: באר שבע, הדעת 6</div> 
<audio controls>
    <source src="..\static\jazz_Song.mp3" type="audio/mp3">
    background-color: lightgrey;
                                                                width: 300px;
                                                                border: 15px solid rgb(193, 146, 237);
                                                                padding: 50px;
                                                                margin: 50px;"></audio>
  </audio>
  <br><br><br><br>
    <span style="background-color:  rgb(235, 233, 124); padding: 20px;margin: 20px;border: 2px solid gray">באר שבע</span> 
    <span style="background-color:  rgb(235, 233, 124); padding: 20px;margin: 20px;border: 2px solid gray">קרית גת</span> 
    <span style="background-color:  rgb(235, 233, 124); padding: 20px;margin: 20px;border: 2px solid gray">עומר</span> 
    <br><br> <br><br>
    <footer>
        <p><a href="blinchessCheese@gmail.com">blinchessCheese@gmail.com</a></p>
    </footer>
</head>

<ul>
  <li><a href="file:///D:/OneDrive/%D7%9E%D7%A1%D7%9E%D7%9B%D7%99%D7%9D/WEBProjects/Excercise1/Roei_Sendel/templates/Home_Page.html">Home Page</a></li>
</ul>
</body>

