<!doctype html>
<html>
<header>
    <title>Home_Page</title>
</header>
<body>
    <audio controls>
        <source src="..\static\jazz_Song.mp3" type="audio/mp3">
        audio.volume = 0.2;
      </audio>  
    <b><h1> הבלינצ'ס ההונגרי </h1> </b>    <!-- insert img here -->
<p style="color:rgb(211, 109, 109); font-size:20px"> <b>
    מבחר מילויים לבחירה בבלינצ'ס ההונגרי המוכר והידוע של סבתא רוזליה ז"ל
</b> </p>
    <div>
    <img src="../static/blintchess.jpg" alt="blintchess" style=" background-color: rgb(169, 169, 169);
                                                            width: 300px;
                                                            border: 20px solid rgb(235, 233, 124);
                                                            padding: 40px;
                                                            margin: 20px;">
    </div>    
    <ul>
        <li><a href="D:\OneDrive\מסמכים\WEBProjects\Excercise1\Roei_Sendel\templates\Contact_Us.html">צור קשר</a></li>
    </ul>
    <div style="background-color:rgb(235, 233, 124); padding: 25px;margin: 35px;border: 2px solid gray"> מבחר בלינצ'סים המיוצרים מחומרי הגלם הטובים ביותר </div> 
    <br>
    <span style="background-color:rgb(235, 233, 124); padding: 30px;margin: 27px;border: 2px solid gray"> מילוי גבינה ופירות יער </span> 
    <span style="background-color:rgb(235, 233, 124); padding: 30px;margin: 24px;border: 2px solid gray"> מילוי נוגט וקפה </span> 
    <span style="background-color:rgb(235, 233, 124); padding: 30px;margin: 24px;border: 2px solid gray"> מילוי צימוקים וגבינת שמנת  </span>
     <br> <br> <br> <br> 


</body> 
