<!doctype html>
<html>
<header>
    <title>Home_Page</title>
</header>
<body>
    <audio controls>
        <source src="D:\OneDrive\מסמכים\WEBProjects\Excercise1\Roei_Sendel\static\jazz_Song.mp3" type="audio/mp3">
        audio.volume = 0.2;
      </audio>  
    <b><h1> הבלינצ'ס ההונגרי </h1> </b>    <!-- insert img here -->
<p style="color:red; font-size:20px"> <b>
    מבחר מילויים לבחירה בבלינצ'ס ההונגרי המוכר והידוע של סבתא רוזליה ז"ל
</b> </p>
    <b> 
    <img src="D:\OneDrive\מסמכים\WEBProjects\Excercise1\Roei_Sendel\static\blintchess.jpg" alt="SARS-CoV-2_without_background" width="500px">
    <h2> להזמנות צור קשר איתנו </h2>
    <a href="D:\OneDrive\מסמכים\WEBProjects\Excercise1\Roei_Sendel\templates\Contact_Us.html">צור קשר</a>
    <div style="background-color:aqua; padding: 25px;margin: 35px;border: 2px solid gray"> מבחר בלינצ'סים המיוצרים מחומרי הגלם הטובים ביותר </div> 
    <span style="background-color:rgb(92, 31, 192); padding: 30px;margin: 24px;border: 2px solid gray"> מילוי גבינה ופירות יער </span> 
    <span style="background-color:rgb(92, 31, 192); padding: 30px;margin: 24px;border: 2px solid gray"> מילוי נוגט וקפה </span> 
    <span style="background-color:rgb(92, 31, 192); padding: 30px;margin: 24px;border: 2px solid gray"> מילוי צימוקים וגבינת שמנת  </span>
     <br> <br> <br> <br> 


    <!-- insert img here -->
</body>