<!doctype html>
<html>
<header>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\static\global.css">
    <title>Home</title>
    <script src="javaScriptBlin.js"></script>

        <!-- Container for the menu bar-->
    <div id="container">
        <h1 class="titles"> הבלינצ'ס ההונגרי </h1> 
        <audio class="Secondaries" controls >
            <source src="..\static\Ukulele_song.mp3" type="audio/mp3">
            audio.volume = 0.2;
          </audio> 
    </div>


    <nav id="sidenav">
        <a href="./Home.html" id="home" class="currentpage">דף הבית</a>
        <a href="./Contact_Us.html">צור קשר</a>
    </nav>
</header>

<br>  <br>  <br>   <br> <br>   <br>   <br>    <br>   <br>   <br> <br>       


<body>


      <!-- Optional for watching the different types of blintchesses-->
    <img id="blintchess" class="boxes" alt="blintchess" src="../static/blintchess.jpg"  style="object-fit:contain;
    width:380px;
    "/>  
    <p>
         .פשטות ועדינות, גם בטעם וגם בנראות
         <br>
        . מבחר מילויים לבחירה בבלינצ'ס ההונגרי המוכר והידוע
        <br>
    
  
    <div>
        <button class="button-85" role="button" onclick="switchToNugette()" >מילוי נוגט וקפה</button>
        <button class="button-85" role="button" onclick="switchTocheese()">מילוי גבינה ופירות יער</button>
        <button class="button-85" role="button" onclick="switchToCream()"> מילוי צימוקים וגבינת שמנת</button>
        <br>
    </div>
    </p>

    <div> *מוקדש לזכרה של סבתא רוזליה זכרונה לברכה*   </div> 


</body> 
